.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header {
    background-color: #333; /* Grigio scuro Donato Frocio*/
}

main {
    background-color: #f2f2f2; /* Grigio chiaro */
}

section {
    background-color: #fff; /* Bianco */
}


@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    text-align: justify;
    font-family: 'Asar', serif;
}

.card {
    background-color: rgba(0, 0, 0, 0.902);
    color: white;
    border-radius: 15px;
}

.card-text{
    margin-top: 10px;
}

.btn {
    background-color: rgba(0, 0, 255, 0.411);
    transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn:hover {
    background-color: rgba(0, 0, 255, 0.411);
    box-shadow: -8px 5px 8px rgba(0, 0, 100, 0.925);
    transform: translateY(-3px);
}