/* Classi */
body {
    font-family: 'Roboto', sans-serif; /* Impostato il font Roboto per l'intera pagina */
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; /* Colore di sfondo leggermente grigio */
}

header {
    background-color: #343a40; /* Colore di sfondo per l'intestazione */
    color: #ffffff; /* Colore del testo nell'intestazione */
    text-align: center;
    padding: 20px 0;
}

header p {
    font-size: 1.2rem; /* Dimensione del testo leggermente più grande */
}

main {
    padding: 50px 0; /* Spazio interno nel contenuto principale */
}

.graphic {
    background-color: #ffffff; /* Colore di sfondo per i box grafici */
    padding: 20px;
    border-radius: 5px; /* Bordo arrotondato per i box */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombra leggera per effetto di sollevamento */
    transition: box-shadow 0.3s ease; /* Effetto di transizione quando il box viene evidenziato */
}
.graphic p{
    color: #666;
}

.graphic:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Effetto di ombreggiatura più evidente al passaggio del mouse */
}

footer {
    background-color: #000000; /* Colore di sfondo per il piè di pagina */
    color: #ffffff; /* Colore del testo nel piè di pagina */
    text-align: center;
    padding: 20px 0;
}

footer a {
    color: #ffffff; /* Colore dei link nel piè di pagina */
}

footer a:hover {
    text-decoration: none; /* Rimozione del sottolineato al passaggio del mouse */
    color: #f8f9fa; /* Cambio del colore al passaggio del mouse */
}

.footer div {
    max-width: 800px; /* Larghezza massima per il contenuto nel piè di pagina */
    margin: 0 auto; /* Centratura del contenuto nel piè di pagina */
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: white;
    text-decoration: none;
}



.graphic {
    margin-bottom: 30px;
    padding: 20px;
    max-height: 90%;
    text-align: center;
    text-align: justify;
    height: 100%;
    border-radius: 10px;
    background-color: #fff;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
}
.graphic:hover{
    transform: scale(1.05);
}
/* Stile per l'header */
header {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
}

h1,h2,h3,h4,h5,h6,p,a{
    font-family: "Times New Roman", Times, serif; /* Font consigliato per la leggibilità */
}

/* Stili per dispositivi mobili */
@media only screen and (max-width: 600px) {
    header img {
        width: 60% !important; /* Modifica la larghezza dell'immagine per dispositivi mobili */
    }
    .text{
        margin: 15px;
        text-align: center;
    }
    p{
        text-align: left;
        text-align: justify;
    }
    h4{
        font-weight: bold;
        text-align: center;
    }
    h1,h2,h3,h4,h5,h6,p,a{
        user-select: none; /* Impedisce la selezione del testo */
        -moz-user-select: none; /* Per Firefox */
        -ms-user-select: none; /* Per Internet Explorer/Edge */
        -webkit-user-select: none; /* Per Chrome, Safari, e Opera */
    }
}